# Environment
NODE_ENV=development

# App Config
APP_NAME="Orders Service"
HTTP_HOST=0.0.0.0
HTTP_PORT=9003
GRPC_URL=0.0.0.0:50053

# Database
DATABASE_URL="postgresql://admin:master123@localhost:15433/orders?schema=public"

# Cache & Messaging
REDIS_URL="redis://localhost:6379"
REDIS_KEY_PREFIX="orders:"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# Observability
OTEL_SERVICE_NAME=orders-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_INSECURE=true

# Transport Config
USERS_TRANSPORT=grpc
PRODUCTS_TRANSPORT=grpc
