# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=master123
POSTGRES_DB=postgres

# SigNoz
SIGNOZ_ADMIN_PASSWORD=admin

# Application Secrets (Auth)
# Warning: In production, these should be much longer and random.
ACCESS_TOKEN_SECRET_KEY=EAJYjNJUnRGJ6uq1YfGw4NG1pd1z102J
REFRESH_TOKEN_SECRET_KEY=LcnlpiuHIJ6eS51u1mcOdk0P49r2Crwu

APP_CORS_ORIGINS=*
NODE_ENV=local

# Casdoor Configuration
CASDOOR_ENDPOINT=http://casdoor:8000
CASDOOR_CLIENT_ID=459c8c7b5ad4f1086016
CASDOOR_CLIENT_SECRET=baa07c5189cce1bc4e7a499351ce5450c79ba821
CASDOOR_ORGANIZATION=built-in
CASDOOR_APPLICATION=app-built-in
CASDOOR_DB_PASSWORD=casdoor_pass123