# Environment
NODE_ENV=development

# App Config
APP_NAME="Cart Service"
HTTP_HOST=0.0.0.0
HTTP_PORT=9007
GRPC_URL=0.0.0.0:50057

# Database
DATABASE_URL="postgresql://admin:master123@localhost:15437/cart?schema=public"

# Cache & Messaging
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
PRODUCTS_GRPC_URL="localhost:50052"

# Observability
OTEL_SERVICE_NAME=cart-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_INSECURE=true
