NODE_ENV=development
HTTP_PORT=9007
GRPC_URL=0.0.0.0:50057
DATABASE_URL="postgresql://admin:master123@localhost:15437/cart?schema=public"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://admin:admin@localhost:5672"
OTEL_SERVICE_NAME=cart-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
PRODUCTS_GRPC_URL="localhost:50052"
