NODE_ENV="development"

APP_NAME="Products Service"
APP_CORS_ORIGINS="*"
APP_DEBUG=true

HTTP_ENABLE=true
HTTP_HOST="0.0.0.0"
HTTP_PORT=9002
HTTP_VERSIONING_ENABLE=true
HTTP_VERSION=1

SENTRY_DSN=""

DATABASE_URL="postgresql://admin:master123@localhost:15432/products?schema=public"

REDIS_URL="redis://localhost:6379"
REDIS_KEY_PREFIX="products:"
REDIS_TTL=3600

# gRPC Config
GRPC_URL="0.0.0.0:50052"
GRPC_PACKAGE="products"
