_format_version: "3.0"
_transform: true

services:
  - name: users-service
    url: http://bw-users-service:9001
    routes:
      - name: users-routes
        paths:
          - /api/v1/users
        strip_path: true
        protocols: ["http", "https"]
        methods: ["GET", "POST", "PUT", "PATCH", "DELETE"]
        plugins:
          - name: jwt
            config:
              claims_to_verify: ["exp"]
              key_claim_name: iss
          - name: request-transformer
            config:
              add:
                headers:
                  - x-user-id:$(jwt_claim_sub)
          - name: rate-limiting
            config:
              minute: 60
              policy: redis
              limit_by: header
              header_name: x-user-id
              redis_host: redis
              redis_port: 6379

  - name: products-service
    url: http://bw-products-service:9002
    routes:
      - name: products-routes
        paths:
          - /api/v1/products
        strip_path: true
        protocols: ["http", "https"]
        methods: ["GET", "POST", "PUT", "PATCH", "DELETE"]
        # Public catalog, protected management
        plugins:
          - name: rate-limiting
            config:
              minute: 100
              policy: redis
              limit_by: ip
              redis_host: redis
              redis_port: 6379

  - name: orders-service
    url: http://bw-orders-service:9003
    routes:
      - name: orders-routes
        paths:
          - /api/v1/orders
        strip_path: true
        protocols: ["http", "https"]
        methods: ["GET", "POST", "DELETE"]
        plugins:
          - name: jwt
            config:
              claims_to_verify: ["exp"]
              key_claim_name: iss
          - name: request-transformer
            config:
              add:
                headers:
                  - x-user-id:$(jwt_claim_sub)
          - name: rate-limiting
            config:
              minute: 30
              policy: redis
              limit_by: header
              header_name: x-user-id
              redis_host: redis
              redis_port: 6379

consumers:
  - username: test-user
    custom_id: user-123

jwt_secrets:
  - consumer: test-user
    key: http://localhost:9000/application/o/gateway-api/
    algorithm: RS256
    rsa_public_key: |
      -----BEGIN PUBLIC KEY-----
      MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAmFvfX+R4N6ZUCm0j+kNy
      D04aBQwKwwZwFzxDkfe9QVjYUuwG7U1K0c5CkeIwUSKYRdsTMEwooa+7F05MRYuv
      ANBcVv9cHguir2oouYW4hQ2tXWGUd27qkLuBRL8kFLH1fGC9h3hJRw3ec665mEF4
      riXAPat3YPknnEf9Q/TGbD8GXi+xYOHmJbo/VeRNcxL/Y4v3GyCJKn0kOOaBQWxr
      +227G+MLYq5Eg4Zv5wxfJzurnBFzo8HJP/h3jnFuKIaK5z5OB8+a8C7Ei0QCPBw+
      YU54OOmRe6vLDF893omIMmfqUbzv7CGT0JKg64XHlfuTXUYihk9x3RHG+XMih+tx
      O+2qvQ4Iam4i3LJUO33YkaIbiTXghwrvrY/yEC/eSjfBZg4mqPoxJyHVTyGCeb6+
      NlJ6chPQlQ8PMII4hgEFTrrkDnQPZWtNseOnNRbt0fwbmA/5uhyEOJs98tGLet5H
      lG2eyyxjiONuRPLxwTPjtRjAaoJwxB1IGCQxAyDbxCP6dmeOmi9n+FEzuGhOKKUd
      Hu6qLUbfgQfqz4RC/9XnHy1QzN6/ebBDLxDVWONNmnbRSPoX1TkYkAh+E/Zu106i
      tOGZaw3+qTJBVV+Uk74AgTq/XTCAhE+9KB0rN4VWz78zhUmrshMj+CDflrl8GI2s
      T44BfgSexzaHClGVCcmYaA0CAwEAAQ==
      -----END PUBLIC KEY-----