_format_version: "3.0"
_transform: true

services:
  - name: post-service
    url: http://post-service:9002
    routes:
      - name: post-routes
        paths:
          - /post
        strip_path: true
        preserve_host: false
        protocols:
          - http
          - https
        methods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
        plugins:
          - name: jwt
            config:
              claims_to_verify:
                - exp
              key_claim_name: iss
          - name: request-transformer
            config:
              add:
                headers:
                  - x-user-id:$(jwt_claim_sub)
                  - x-user-role:USER

consumers:
  - username: test-user
    custom_id: user-123
    keyauth_credentials:
      - key: apikey123

plugins:
  - name: rate-limiting
    route: post-routes
    config:
      minute: 200
      hour: 2000
      day: 20000
      policy: local
      hide_client_headers: false
      fault_tolerant: true

  - name: rate-limiting
    config:
      minute: 300
      hour: 3000
      day: 30000
      policy: local
      hide_client_headers: false
      fault_tolerant: true

jwt_secrets:
  - consumer: test-user
    key: http://localhost:9000/application/o/gateway-api/
    algorithm: RS256
    rsa_public_key: |
      -----BEGIN PUBLIC KEY-----
      MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAmFvfX+R4N6ZUCm0j+kNy
      D04aBQwKwwZwFzxDkfe9QVjYUuwG7U1K0c5CkeIwUSKYRdsTMEwooa+7F05MRYuv
      ANBcVv9cHguir2oouYW4hQ2tXWGUd27qkLuBRL8kFLH1fGC9h3hJRw3ec665mEF4
      riXAPat3YPknnEf9Q/TGbD8GXi+xYOHmJbo/VeRNcxL/Y4v3GyCJKn0kOOaBQWxr
      +227G+MLYq5Eg4Zv5wxfJzurnBFzo8HJP/h3jnFuKIaK5z5OB8+a8C7Ei0QCPBw+
      YU54OOmRe6vLDF893omIMmfqUbzv7CGT0JKg64XHlfuTXUYihk9x3RHG+XMih+tx
      O+2qvQ4Iam4i3LJUO33YkaIbiTXghwrvrY/yEC/eSjfBZg4mqPoxJyHVTyGCeb6+
      NlJ6chPQlQ8PMII4hgEFTrrkDnQPZWtNseOnNRbt0fwbmA/5uhyEOJs98tGLet5H
      lG2eyyxjiONuRPLxwTPjtRjAaoJwxB1IGCQxAyDbxCP6dmeOmi9n+FEzuGhOKKUd
      Hu6qLUbfgQfqz4RC/9XnHy1QzN6/ebBDLxDVWONNmnbRSPoX1TkYkAh+E/Zu106i
      tOGZaw3+qTJBVV+Uk74AgTq/XTCAhE+9KB0rN4VWz78zhUmrshMj+CDflrl8GI2s
      T44BfgSexzaHClGVCcmYaA0CAwEAAQ==
      -----END PUBLIC KEY-----